body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.pokemon-image-container {
  filter: brightness(0);
  transition: all 0.7s;
}

.show {
  filter: brightness(1);
}
